@{
    ViewBag.Title = "Home Page";

}

<div class="jumbotron">
    <h1>MovieMate</h1>
    <p class="lead">Welcome to this bootleg movie site I threw together with an unoriginal name.</p>
    <p>@Html.ActionLink("Go to movies", "Movies", "Movie", new { }, new { @class = "btn btn-primary my-2 my-sm-0"})</p>
</div>

<div class="row">
    
    
        <h2>Built using ASP.NET MVC</h2>
        <p>If you got C# know-how, this is a real nice way to build a website. I know next to nothing about webdev,
        and look at this site! I think MVC has been discontinued, and instead incorporated as part of ASP.NET CORE.</p>
        <p><a class="btn btn-outline-info" href="https://asp.net">Learn more &raquo;</a></p>

</div>