
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="jumbotron">
    <h1>Index of Movie.</h1>
    <p class="lead">How did you even find this?</p>
    <p>@Html.ActionLink("Return Home", "Index", "Home")</p>
</div>

