
@{
    ViewBag.Title = "Movies";
    Layout = "~/Views/Shared/_Layout.cshtml";
    
}
<div class="jumbotron">
    <div class="row">
        <div class="col-md">
            <h1>Movies</h1>
        </div>
        <div class="col-md">
            <form class="form-inline my-2 my-lg-0" style="padding-top:0.8rem;">
                @Html.TextBox("search", "", new { @class = "form-control mr-sm-2", type = "text", placeholder = "Search" })
                <button class="btn btn-primary my-2 my-sm-0" type="submit">Search</button>
            </form>
        </div>
    </div>
</div>

@Html.Raw(MovieMate.Models.FileSystem.ListMoviesHtml(ViewBag.search))




